<!DOCTYPE html>
<html lang="en">
<head>
    <title>车贷联盟</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/Static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/Static/css/fullcalendar.css"/>
    <link rel="stylesheet" href="/Static/css/matrix-style.css"/>
    <link rel="stylesheet" href="/Static/css/matrix-media.css"/>
    <link href="/Static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/Static/css/jquery.gritter.css"/>


    <link rel="stylesheet" href="/Static/css/jquery.toastmessage.css"/>
    <link rel="stylesheet" href="/Static/css/datepicker.css"/>
    <script src="/Static/js/jquery.min.js"></script>
    <!--<script src="/Static/js/jquery.js"></script>-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        body {
            height: 87%;
        }

        #content {
            padding-bottom: 0px;
        }

        .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
            color: #FFF;
            background-color: #31B0D5;
            border-color: #269ABC;
        }

        .btn-info {
            color: #FFF;
        }

        .btn {
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -moz-user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-success {
            color: #FFF;
            background-color: #5CB85C;
            border-color: #4CAE4C;
        }

        .btn-danger {
            color: #FFF;
            background-color: #D9534F;
            border-color: #D43F3A;
        }
    </style>

</head>
<body>

<!--logo开始-->
<div id="header">
    <h1><a href="#">MatAdmin</a></h1>
</div>
<!--logo结束-->

<!--头部导航开始-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="profile-messages"><a title="" href="#" data-toggle="dropdown"
                                                      data-target="#profile-messages" class="dropdown-toggle"><i
                class="icon icon-user"></i> <span class="text">欢迎Admin</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-user"></i> 我的资料</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
            </ul>
        </li>
        <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
        <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a>
        </li>
    </ul>
</div>
<!--头部导航结束-->

<!--左侧菜单开始-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-fullscreen"></i>Full width</a>
    <ul>
        <li class="submenu open"><a href="#"><i class="icon icon-th-list"></i> <span>统计报表</span> </a>
            <ul>
                <li><a href="index.html">客户信息表</a></li>
                <li><a href="index2.html">债权列表</a></li>
                <li><a href="index3.html">黑名单</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>合作机构管理</span> </a>
            <ul>
                <li><a href="addAgency">合作机构列表</a></li>
                <li><a href="index5.html">在库机构成员列表</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>人事结构</span> </a>
            <ul>
                <li><a href="index6.html">员工管理</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>权限管理</span> </a>
            <ul>
                <li><a href="index7.html">角色设置</a></li>
                <li><a href="index8.html">权限设置</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--左侧菜单结束-->

<!-- 正文开始 -->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="" title="合作机构管理" class="tip-bottom"><i class="icon-home"></i> 合作机构管理</a><a
                href="#" class="current">合作机构列表</a></div>
        <!-- <h1>Common Form Elements</h1> -->
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>新增机构</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="#" method="post" class="form-horizontal" name="form1">
                            <div class="control-group">
                                <label class="control-label">机构名称 :</label>
                                <div class="controls">
                                    <input type="text" class="span4" placeholder="请输入机构名称" name="name"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">营业执照编号 :</label>
                                <div class="controls">
                                    <input type="text" class="span4" placeholder="请输入营业执照编号" name="license_num"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">成立时间 :</label>
                                <div class="controls">
                                    <input type="text" data-date="" data-date-format="yyyy-mm-dd" value=""
                                           class="datepicker span4" placeholder="请输入成立时间" id="picker1"
                                           name="build_time" readonly="readonly">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">注册资金 :</label>
                                <div class="controls">
                                    <input type="text" class="span4" placeholder="请输入注册资金" name="register_money"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">机构编码 :</label>
                                <div class="controls">
                                    <input type="text" class="span4" placeholder="请输入机构编号" name="agency_id"/> <span
                                        style="color:#c40000">*注：以字母、数字、下划线组合</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <label class="control-label"></label>
                                <a type="submit" class="btn btn-success" style="margin-right:30px;" href="javascript:;"
                                   onclick="return add();"><i class="icon-ok"></i> 添加</a>
                                <a href="/provider/providerList" class="btn btn-info"><i class="icon-repeat"></i> 取消并返回</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--正文结束-->

<!--底部开始-->

<div class="row-fluid">
    <div id="footer" class="span12"> 2013 &copy; MatAdmin.</div>
</div>

<!--底部结束-->
<script type="text/javascript">
    $(document).ready(function () {
        // *************************日期选择器设置*************************
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        var checkin = $('#picker1').datepicker({
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            checkin.hide();
        }).data('datepicker');

    });

    // ******************************添加数据**********************
    var add = function () {


        var name = $("input[name='name']").val();
        var license_num = $("input[name='license_num']").val();
        var build_time = $("input[name='build_time']").val();
        var register_money = $("input[name='register_money']").val();
        var agency_id = $("input[name='agency_id']").val();
        if ($.trim(name) == '') {
            $().toastmessage('showErrorToast', '机构名称不能为空！');
            return false;
        }
        if ($.trim(license_num) == '') {
            $().toastmessage('showErrorToast', '营业执照编号不能为空！');
            return false;
        }
        if ($.trim(build_time) == '') {
            $().toastmessage('showErrorToast', '成立时间不能为空！');
            return false;
        }
        if (!$.trim(register_money)) {
            $().toastmessage('showErrorToast', '注册资金不能为空！');
            return false;
        }
        if ($.trim(agency_id) == 0) {
            $().toastmessage('showErrorToast', '机构编号不能为空！');
            return false;
        }
//        var data = new Array()
//        data['name'] = $("input[name='name']").val();
//        data['license_num'] = $("input[name='license_num']").val();
//        data['build_time'] = $("input[name='build_time']").val();
//        data['register_money'] = $("input[name='register_money']").val();
//        data['agency_id'] = $("input[name='agency_id']").val();
//        if ($.trim(data['name']) == '') {
//            $().toastmessage('showErrorToast', '机构名称不能为空！');
//            return false;
//        }
//        if ($.trim(data['license_num']) == '') {
//            $().toastmessage('showErrorToast', '营业执照编号不能为空！');
//            return false;
//        }
//        if ($.trim(data['build_time']) == '') {
//            $().toastmessage('showErrorToast', '成立时间不能为空！');
//            return false;
//        }
//        if ($.trim(data['register_money']) == '') {
//            $().toastmessage('showErrorToast', '注册资金不能为空！');
//            return false;
//        }
//        if ($.trim(data['agency_id']) == '') {
//            $().toastmessage('showErrorToast', '机构编号不能为空！');
//            return false;
//        }
//        console.log(data);
        $.ajax({
            url: '/Agency/add',
            type: 'POST',
            dataType: 'json',
            data: {
                name: name,
                license_num: license_num,
                build_time: build_time,
                register_money: register_money,
                agency_id: agency_id
            },
            success: function (result) {
                if (result.success) {
                    $().toastmessage('showSuccessToast', "添加成功");
                    setTimeout(function () {
                        window.location.href = '/Agency/getAgency';
                    }, 3000);

                } else {
                    $().toastmessage('showErrorToast', result.errMessage);
                }
            }
        })
    }


</script>


<script src="/Static/js/excanvas.min.js"></script>

<script src="/Static/js/jquery.ui.custom.js"></script>
<script src="/Static/js/bootstrap.min.js"></script>
<script src="/Static/js/jquery.flot.min.js"></script>
<script src="/Static/js/jquery.flot.resize.min.js"></script>
<script src="/Static/js/jquery.peity.min.js"></script>
<script src="/Static/js/fullcalendar.min.js"></script>
<script src="/Static/js/matrix.js"></script>
<script src="/Static/js/matrix.dashboard.js"></script>
<script src="/Static/js/jquery.gritter.min.js"></script>
<script src="/Static/js/matrix.interface.js"></script>
<script src="/Static/js/matrix.chat.js"></script>
<script src="/Static/js/jquery.validate.js"></script>
<script src="/Static/js/matrix.form_validation.js"></script>
<script src="/Static/js/jquery.wizard.js"></script>
<script src="/Static/js/jquery.uniform.js"></script>
<script src="/Static/js/select2.min.js"></script>
<script src="/Static/js/matrix.popover.js"></script>
<script src="/Static/js/jquery.dataTables.min.js"></script>
<script src="/Static/js/matrix.tables.js"></script>


<script src="/Static/js/bootstrap-datepicker.js"></script>
<script src="/Static/js/jquery.toastmessage.js"></script>

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
            // else, send page to designated URL
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>
</body>
</html>